{% extends "base.html" %}


<!---------------------------BODY-------------------------------->
{% block body %}
<body >
<!---------------------------ADVERTISEMENT-------------------------------->
<p class="advertise-font">"Haushaltskosten im Überblick mit unserer Software!"</p>
<!---------------------------ADVERTISEMENT-------------------------------->


<!---------------------------IMAGE-------------------------------->
    <div style="margin-top: 60px;text-align: center">
   <a href="banking"> <img src="../static/images/result_table.png" alt=""></a>
</div>
<!---------------------------IMAGE-------------------------------->

<!---------------------------ADVERTISEMENT-------------------------------->
<p class="advertise-font">"Berechnen Sie die Risiken ihrer Trades<br>
Mit dem Risk-Calculator"</p>
<!---------------------------ADVERTISEMENT-------------------------------->


<!---------------------------IMAGE-------------------------------->
{#class="box-shadow"#}
    <div  style="margin-top: 60px; margin-bottom:100px; text-align: center">
    <a href="calc_risk"><img src="../static/images/trade_risk.png" alt=""></a>
</div>
<!---------------------------IMAGE-------------------------------->


{% endblock %}

</body>
<!---------------------------BODY-------------------------------->

</html>